// Base Colors
$tabActiveBgColor: #fff; 
$tabActiveTextColor: #5a5243;
$tabNectiveBgColor: #5a5243; 
$tabNectiveTextColor: #F5F5F5; 

// Breakpoint
$breakpoint: 768px;

// Transition
$transitionSpeed: 200ms;